
#top div{
    display: inline-block;
    background-color: darkgray;
    margin: 10px 0px;
}
#top div a{
    text-decoration-line: none;
    color: black;
}
#top div a:hover{
    color:white;
    text-decoration-line: underline;
}
#helloGreet{
    display: inline-block;
    border: darkgray 1px solid;
    font-size: 21px;
    color: rgba(118,192,235,0.49);
    width: 262px;
    padding: 30px;
}